:root {
}
.my-section {
    height: 100%;
}
.image {
}
.image img {
    max-width: 100%;
}

.image-mobile img {
    max-width: 65px;
}
.my-action {
    display: flex;
}
.my-action:hover {
    background-color: lightslategrey;
}
ul {
    list-style: none;
}
.my-bg {
    border: 1px solid none;
    border-radius: 20px;
    text-align: center;
    color: white;
    padding: 2px;
    width: 60px;
    display: inline-block;
    margin: 0;
}
.green {
    background-color: #198753;
}
.yellow {
    background-color: #ffc007;
}
.red {
    background-color: #dc3444;
}
.image-avatar {
    align-items: center;
}
.image-avatar img {
    width: 20px;
    margin-right: 1em;
}
.text-bg-color {
    background-color: #165bba;
}
.bg-search {
    background-color: #e5e5e5;
}
.icon {
    height: 36px;
}

.list-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
#offcanvasRight.offcanvas.offcanvas-end.my-offcanvas {
    width: 48%;
}
.my-plus {
    display: flex;
    align-items: center;
}
.my-style {
    font-size: 0.8em;
    font-weight: normal;
}
.my-row {
    font-size: 0.8em;
    font-weight: 500;
    vertical-align: middle;
}
.my-line {
    line-height: 30px;
}
.my-button {
    height: 30px;
    background-color: white;
    border: 1px solid lightslategray;
    border-radius: 6px;
    color: lightslategray;
}
.my-width {
    width: 50%;
}
